<%-include('../partials/userheader')-%>
<main class="main">
            

    <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('assets/images/backgrounds/login-bg.jpg')">
        <div class="container">
            <div class="form-box">
                <div class="form-tab">
                    <ul class="nav nav-pills nav-fill" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="register-tab-2" data-toggle="tab" href="#register-2" role="tab" aria-controls="register-2" aria-selected="true">Register</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="register-2" role="tabpanel" aria-labelledby="register-tab-2">
                            <form action="/reset" method="post" >
                                <!-- <div class="form-group">
                                    <label for="register-email-2">Your email address *</label>
                                    <input type="email" class="form-control" id="register-email-2" name="register-email" required>
                                    <label style="display: none;" id="message"></label>
                                </div>End .form-group -->
                               <div>
                                <input type="tel" class="form-control" id="phone" name="phone"  value="<%= phone%>" style="display: none;" required>
                                
                               </div>
                                <div class="form-group">
                                    <label for="password">Password <span style="color: red;">*</span></label>
                                    <input type="password" class="form-control" id="password" name="password" required>
                                    <label style="display: none;" id="password-error"></label>
                                </div><!-- End .form-group -->
                                <div class="form-group">
                                    <label for="confirm-password">Confirm Password <span style="color: red;">*</span></label>
                                    <input type="password" class="form-control" id="confirm-password" name="confirmpassword" required>
                                    <label style="display: none;" id="confirm-password-error"></label>
                                </div><!-- End .form-group -->


                                <div class="form-footer">
                                    <button type="submit" class="btn btn-outline-primary-2">
                                        <span>Confirm</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </button>
                                    <!-- Already Have Account? &nbsp; -->

                                    <!-- <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="register-policy-2" required>
                                        <label class="custom-control-label" for="register-policy-2">I agree to the <a href="#">privacy policy</a> *</label>
                                    </div>End .custom-checkbox -->
                                </div><!-- End .form-footer -->
                            </form>
                            
                        </div><!-- .End .tab-pane -->
                    </div><!-- End .tab-content -->
                </div><!-- End .form-tab -->
            </div><!-- End .form-box -->
        </div><!-- End .container -->
    </div><!-- End .login-page section-bg -->
</main><!-- End .main -->






<script>
    function checkPassword() {
        let password = document.getElementById("password").value;
        let confirmPassword = document.getElementById("confirm-password").value;
        console.log("Password:", password, "\n", "Confirm Password:", confirmPassword);
        let message = document.getElementById("confirm-password-error");

        if (password.length !== 0) {
            if (password === confirmPassword) {
                return true; // Allow form submission
            } else {
                message.style.display = ''
                message.textContent = "Passwords don't match";
                message.style.color = "#ff4d4d";
                return false; // Prevent form submission
            }
        } else {
            message.textContent = "Password can't be empty!";
            message.style.color = "#ff4d4d";
            return false; // Prevent form submission
        }
    }
    function validate() {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirmpassword").value;
        let passwordError = document.getElementById("password-error");

      

        if (password.length < 6) {
            passwordError.style.display = ''
            passwordError.textContent = "Password should be at least 6 characters!";
            passwordError.style.color = "#ff4d4d";
            return false;
        } else passwordError.style.display = 'none'

        // if (password !== confirmPassword) {
        //     window.alert("Passwords don't match.");
        //     document.getElementById("confirm-password-2").focus();
        //     return false;
        // }

        return checkPassword();

        return true;
    }

</script>

<%-include('../partials/userfooter')-%>